{
	"env": {
		"commonjs": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"extends": ["eslint:recommended", "plugin:node/recommended", "plugin:unicorn/recommended", "prettier", "prettier/unicorn"],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"plugins": ["node", "unicorn", "prettier", "node"],
	"parserOptions": {
		"ecmaVersion": 2019
	},
	"rules": {
		"unicorn/filename-case": ["error", { "case": "camelCase" }],
		"unicorn/prevent-abbreviations": "off",
		"prettier/prettier": "error",
		"indent": ["error", "tab", {
			"SwitchCase": 1
		}],
		"unicorn/no-process-exit": "off",
		"no-process-exit": "off",
		"strict": ["error", "global"],
		"unicorn/no-reduce": "off"
	}
}
