{
	"env": {
		"commonjs": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:node/recommended",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"prettier/@typescript-eslint"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"plugins": ["node", "prettier", "@typescript-eslint"],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2021,
		"sourceType": "module"
	},
	"rules": {
		"unicorn/filename-case": ["error", { "case": "camelCase" }],
		"unicorn/prevent-abbreviations": "off",
		"prettier/prettier": "error",
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"unicorn/no-process-exit": "off",
		"no-process-exit": "off",
		"strict": ["error", "global"],
		"unicorn/no-reduce": "off",
		"node/no-unsupported-features/es-syntax": "off"
	}
}
